html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  line-height: 1;
}

/* OVERWRITE REACT INPUT RANGE - remove input range numbers and shorter width because of wide handle points, change color  */
.input-range {
  margin: 2rem 0;

  .input-range__slider {
    background: #119383;
    border: 1px solid #119383;
  }

  .input-range__track--active {
    background: #119383;
  }

  .input-range__label-container {
    display: none;
  }

  .input-range__track {
    width: calc(100% - 16px);
    left: 8px;
  }
}
